@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    background: #3f3752;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    flex-wrap: wrap;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container .serviceBox{
    position: relative;
    width: 350px;
    height: 280px;
    background: #51466e;
    border-radius: 20px;
    overflow: hidden;
}
.container .serviceBox .icon{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--i);
    transition: 0.5s;
    transition-delay: 0.25s;
    z-index: 2;
}
.container .serviceBox:hover .icon{
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition-delay: 0s;
}
.container .serviceBox .icon ion-icon{
    font-size: 5em;
    color: #fff;
    transition: 0.5s;
    transition-delay: 0.25s;
}
.container .serviceBox:hover .icon ion-icon{
    font-size: 2em;
    transition-delay: 0s;
}
.container .serviceBox .content{
    position: relative;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
}
.container .serviceBox:hover .content{
    transform: scale(1);
    transition-delay: 0.25s;
}
.container .serviceBox .content h2{
    margin-top: 10px;
    margin-bottom: 5px;
}
.container .serviceBox .content p{
    font-weight: 300;
    line-height: 1.5em;
}